@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

:root {
--color-primary-dark: #4A4A4A;   /*brand*/
/* #A8C6F561 */
/* #A8C6F533 */
--color-primary-light: #FFFFFF;  /*brand*/
--color-brand-dark: #011C44;   /*primary*/
--color-brand-light: #2B7FFF;  /*primary*/ 
--color-text-dark: #000000;
}

/* Base */
*{
        box-sizing: border-box;
}

body {
color: var(--color-brand-dark);
background-color: var(--color-primary-light);
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.17;
margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Button */
.button {
    padding: 16px 32px;
color: var(--color-primary-light);
font-weight: 600;
background-color: var(--color-brand-light);
border: 2px solid var(--color-brand-light);
border-radius: 32px;
cursor: pointer;
}

.button:hover{
color: var(--color-brand-light);
background-color: transparent;
}

/* link */
.link {
    color: var(--color-brand-dark);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-light);
}

/* Header */
.header {
    background-color: lightgray;
}

.header-container {
    align-items: center;
    display: flex;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

/* Hero section */
.hero-section {
    padding: 160px 667px 270px 244px;
    background-image: url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: cover; */
}

.hero-title {
    color: var(--color-brand-light);
    font-family: 'Play',sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
}

.hero-container {
    max-width: 530px;
    gap: 40px;
}

.hero-text.limited {
    max-width: 225px;
    padding-top: 14px;
}

.hero-text .brand {
    color: var(--color-primary-dark);
    font-size: 12px;
    line-height: 1.5;
}

/* section title*/
.section-title {
font-family: 'Play', sans-serif;
font-weight: 700;
font-size: 64px;
line-height: 1.15;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
color: var(--color-brand-light);
}

/* about-us-section */
.about-us-section {
    padding-top: 1px;
    padding-bottom: 88px; 
font-size: 22px;
line-height: 1.7;
}

.about-us-container {
display: flex;
justify-content: space-between;
gap: 40px;
}

.about-us-content {
max-width: 1240px;
}

.about-us-title {
    margin-bottom: 40px;
}

.about-us-photo {
    box-shadow: 0px 4px 4px 0px #A8C6F533;
}

.about-us-text .brand {
    font-weight: 600;
}

/* why-us-section */
.why-us-section {
    padding-top: 88px;
    background-image: linear-gradient(
    38.2deg, 
    rgba(43, 127, 255, 0.2) 39.74%,
     rgba(43, 127, 255, 0) 54.16%,
     rgba(43, 127, 255, 0) 66.66%
     );
}

.why-us-list {
    display: flex;
    gap: 56px;
}

.why-us-card {
    height: 180px;
    padding: 85px 32px 24px 32px;
    background-color: var(--color-primary-light);
    border: solid lightgray; /* remove */
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px #A8C6F561;
}

.why-us-title {
    max-width: 445px;
    margin: 0 auto 48px;
}

.why-us-container {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.why-us-content {
    max-width: 1,060px;
}

.why-us-text {
    color: var(--color-text-dark);
    line-height: 1.3;
}

.why-us-text.limited {
    max-width: 240px;
}

/* our-procedures-section */
.our-procedures-list {
    display: flex;
    gap: 16px;
}

.our-procedures-item {
    background-image: linear-gradient(180.05deg,
                rgba(1, 28, 68, 0) 48.53%,
                rgba(1, 28, 68, 0.725825) 84.61%,
                var(--color-brand-dark) .39%);
                /* border-radius: 120px 4px 120px 4px; */ /* remove */
flex-basis: calc((100% - 32px) / 3);
}

/* 
.our-procedures-card {
    background-repeat: no-repeat;
    background-size: cover; 
} */

.our-procedures-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.our-procedures-content {
    max-width: 1,220px;
}

.our-procedures-title {
margin: 48px;
}

.our-procedures-text {
    font-size: 22px;;
    line-height: 1.18;
}

/* contacts-section */
.contacts-title {
    margin-bottom: 48px;
}

.contacts-text {
font-weight: 600;
font-size: 22px;
line-height: 1.17;
}

.contacts-text .brand {
    color: var(--color-brand-light);
}

/* Footer */
.footer {
    color: var(--color-primary-light);
    background-color: var(--color-brand-dark);
    background-size: cover;
    background-position: center;
}

.link-color {
    color: var(--color-primary-light);
}

    .link-color:hover {
            color: var(--color-brand-light);
            font-weight: 400;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.17;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright {
    font-size: 13px;
    line-height: 1.17;
}

